.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.stock-level {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

.stock-level::after {
  content: "Click to change";
  display: none;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 100%;
  left: 0;
}

.stock-level:hover::after {
  display: block;
}

.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.modal-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-close {
  background: red;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

.modal-update {
  background: green;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

.modal-close:hover,
.modal-update:hover {
  opacity: 0.8;
}
